[Unit]
Description=Forwards localhost:1101 to 192.168.0.105:21001
After=gunicorn.socket

[Service]
ExecStart=/usr/bin/socat -d -d TCP-LISTEN:8000,fork UNIX-CONNECT:/run/gunicorn.sock

[Install]
WantedBy=multi-user.target